#option-open {
  background-color: var(--color-player-background);
  height: 80px;
  width: 400px;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 22px 70px 4px;
  border-radius: 0 0 16px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.option-chevron {
  transform: rotate(90deg);
  padding-right: 12px;
}
