#option-open {
  background-color: var(--color-player-background);
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 22px 70px 4px;
  border-radius: 0 0 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 5;
}

.popup-container-options {
  background-color: var(--color-popup-background);
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 22px 70px 4px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  z-index: 20;

  /* -webkit-animation: slide-in-blurred-bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1) both; */
}

.popup-menu-item-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  border-top: 2px solid var(--color-player-seperator);
}

.popup-menu-item-container:hover {
  cursor: pointer;
}

.popup-menu-item-icon {
  padding: 32px;
  margin-left: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-menu-item-text {
  display: block;
  text-align: center;
  font-size: 22px;
  color: inherit;
  padding-right: 64px;
  margin-right: 32px;
}
