.player {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
  margin: 32px 32px 0 32px;
  border-radius: 20px; /* Hide ugly border */
  box-sizing: border-box;
  background-color: var(--color-player-background);
  box-shadow: rgba(0, 0, 0, 0.192) 0px 22px 70px 4px;
}

.player:last-child {
  margin: 32px;
}

.player:first-child {
  margin: 102px 32px 32px 32px;
}

.player-colorbox {
  width: 16px;
  background-color: var(--color-player-accent-2);
  border-radius: 16px 0 0 16px;
}

.player-info {
  padding: 32px 32px 16px 32px;
  flex: 1;
}

.player-name {
  font-size: 32px;
  color: var(--color-player-accent-2);
}

.player-monopoly-money-icon {
  font-size: 32px;
  color: var(--color-player-text-2);
  text-decoration: line-through;
}

.player-money {
  font-size: 90px;
  color: var(--color-player-text-1);
}

.player-button {
  max-width: 200px;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-left: 2px solid var(--color-player-seperator);
  color: var(--color-player-text-1);
}

.player-button-accent {
  background-color: var(--color-player-accent-2);
  color: white;
  border-radius: 0 16px 16px 0;
}

.player-button:hover {
  /* background-color: var(--color-player-seperator); */
  cursor: pointer;
}

.player-button-icon {
  width: 44px;
  height: 44px;
  color: inherit;
  padding-bottom: 8px;
}

.player-button-text {
  display: block;
  text-align: center;
  font-size: 22px;
  color: inherit;
}

.player-dead {
  z-index: 0;
  pointer-events: none;
  opacity: 0.25;
}
