.popup-blur {
  position: absolute;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(6px);
  background-color: var(--color-blur-background);
  display: flex;
  align-items: center;
  justify-content: center;

  /* -webkit-animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in 0.2s cubic-bezier(0.39, 0.575, 0.565, 1) both; */
}

.puff-out-center {
  -webkit-animation: puff-out-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s
    both;
  animation: puff-out-center 0.2s cubic-bezier(0.165, 0.84, 0.44, 1) 2s both;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  color: var(--color-player-accent-5);
}

.shake-horizontal::placeholder {
  color: var(--color-player-accent-5);
}

.popup-container {
  background-color: var(--color-popup-background);
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.192) 0px 22px 70px 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;

  /* -webkit-animation: slide-in-blurred-bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1)
    both;
  animation: slide-in-blurred-bottom 0.2s cubic-bezier(0.23, 1, 0.32, 1) both; */
}

.popup-balance-text {
  color: var(--color-player-text-2);
  font-size: 22px;
  margin-bottom: -16px;
  margin-top: 64px;
}

.popup-balance-container {
  padding-bottom: 32px;
}

.popup-switch {
  background-color: var(--color-switch-background);
  display: flex;
  align-items: stretch;
  flex-direction: row;
  padding: 4px;
  border-radius: 1000px;
  margin: 0 64px 48px 64px;
}

.popup-switch-option {
  padding: 24px;
  border-radius: 1000px;
  font-size: 22px;
  min-width: 200px;
  text-align: center;
  cursor: pointer;
}

.popup-switch-option-selected {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.popup-textbox-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  background-color: var(--color-textbox-background);
  border: solid 2px var(--color-textbox-border);
  border-radius: 16px;
}

.popup-textbox {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: none;
  outline: none;
  background-color: transparent;
  align-self: stretch;
  flex: 1;
  text-align: center;
  max-width: 300px;
  padding: 16px;

  font-size: 64px;
  color: var(--color-player-text-1);
  box-sizing: border-box;
  font-family: "plex-semibold-mono";
  font-feature-settings: "zero" 1;
}

.popup-textbox::placeholder {
  color: var(--color-player-text-2);
}

.popup-textbox:focus {
  outline: none;
}

.popup-textbox-mul {
  flex: 0;
  width: 64px;
  height: 64px;
  font-size: 32px;
  align-self: center;
  padding: 0;
}

.popup-textbox:empty::before {
  color: var(--color-player-text-2);
  content: "0";
}

.popup-button {
  padding: 32px;
  margin-top: 48px;
  /* border-top: solid 2px var(--color-player-seperator); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  background-color: var(--color-player-accent-2);
  color: white;
}

.popup-button:hover {
  cursor: pointer;
}

.popup-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 16px;
  cursor: pointer;
  margin: 0;
}
