* {
  padding: 0;
  margin: 0;
  font-family: "plex-semibold";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: var(--color-player-accent-2);
}

::selection {
  color: white;
  background: var(--color-player-accent-2);
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--color-background);
}

/* PLAYER */
#player-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;

  width: 100vw;
  height: 100vh;

  overflow: auto;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-switch-background);
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-player-background);
}
